<div *ngIf="inSession">
    <a href="/signout">Sign Out</a>
    <br>
    <a href="/timeline">Your Timeline</a>

    <h2>People you may know</h2>
    <mat-card *ngFor="let user of toFollow" style="width: 40%">
        <mat-card-title>
            {{user.username}}
        </mat-card-title>
        <button mat-button (click)="newFollowing(user.id)">Follow</button>
    </mat-card>
</div>
<div *ngIf="notInSession">
    <h2>Looks like you took a wrong turn at Albaquerque!</h2>
    <a href="/registration">Click here to return to the homepage!</a>
</div>

